h1 {
    background-color: #f0fffb;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
}

h2{
    color: #e2c62b;
    background-color: #310808;
    font-family: 'Courier New', Courier, monospace;
}